:root{
    --branding-color:#ffaf79;
    --heading-font-family:'Montserrat';
    --default-font-family:'Fira Code',monospace;
}

h1,h2,h3,h4,h5{
    font-family: var(--heading-font-family)
}
p{
    font-size: 16px;
    font-weight: normal;
    line-height: 30px;
}
.hero{
    text-align: center;
    background-color:#F1EEEC;
    padding: 200px 20px;
}
.hero p{
    font-size: 24px;

    margin: 0;
    font-family: var(--default-font-family);
}
h1 {
    font-size: 96px;
    
}
h2 {
    font-size: 64px;

}
.hero h2{
    font-weight: normal;
    line-height: 2;
    font-size: 24px;
    color: rgb(52, 52, 52);
    font-family: var(--default-font-family);

}

.btn-branding {
  
border-radius: 25px;
background:: rgba(255, 255, 255, 0.15);
padding: 8px 25px;   
border-color: rgb(88, 88, 88,0.15);         
            
       
}

.btn-branding-outline {

        border-radius: 25px;
        background:rgba(255, 255, 255, 0.15) ;
        padding: 8px 25px;
        border-color: rgb(88, 88, 88, 0.15);


    }
    .project-description {
        padding:120px 60px;
    }

    @media (max-width:960px) {
        .project-description {
                padding: 0;
                text-align: center;
            }
            h1 {
                font-size: 60px;
            
            }
            h2 {
                font-size: 42px;
                line-height: 2;
            }
            .hero{
                padding:50px 10px;
            }
    }